Repository ChatFlowProject/chatter, pull requests merged in 2025-06, with the labels that each got.

#54 [feat/api/websocket/FLOW-29] 채팅 백엔드 api 연결 완료, 임시 자료 추후 제거 필요
  .env
  src/app/Provider.tsx
  src/service/feature/auth/lib/getToken.ts
  src/service/feature/channel/api/categorieAPI.ts
  src/service/feature/channel/api/channelAPI.ts
  src/service/feature/channel/hook/mutation/useChannelMutation.ts
  src/service/feature/chat/context/SocketContext.ts
  src/service/feature/chat/context/SocketProvider.tsx
  src/service/feature/chat/hook/useChat.ts
  src/service/feature/common/axios/axiosInstance.ts
  src/service/feature/friend/api/friendApi.ts
  src/service/feature/image/imageApi.ts
  src/service/feature/member/api/memberAPI.ts
  src/service/feature/team/api/teamsMemberAPI.ts
  src/service/feature/team/api/teamsServiceAPI.ts
  src/view/components/common/user/Avatar.tsx
  src/view/layout/sidebar/components/channel/DirectMessages.tsx
  src/view/pages/chat/ChatPage.tsx
  src/view/pages/chat/components/ChannelHeader.tsx
  src/view/pages/chat/components/ChatInput.tsx
  src/view/pages/chat/components/ChatMessage.tsx
  src/view/pages/chat/components/ChatMessageItem.tsx
  src/view/pages/chat/components/ChatView.tsx
  src/view/pages/chat/components/Reply.tsx
Labels: API

#66 [feat/advanced/build-check-CI/FLOW-37] pr 머지 전 빌드 오류 확인을 위한 CI 작성
  .github/workflow/pr-check.yml
Labels: setting

#65 [Feat/api/dm list/FLOW-32] DMList 불러오기 호출
  src/service/feature/channel/api/channelAPI.ts
  src/service/feature/channel/hook/query/useChannelQuery.ts
  src/service/feature/channel/types/channel.ts
  src/service/feature/chat/index.ts
  src/service/feature/common/axios/axiosInstance.ts
  src/service/feature/friend/types/friend.ts
  src/view/components/common/Modal.tsx
  src/view/components/layout/sidebar/components/top/ForYou.tsx
  src/view/components/layout/sidebar/components/top/Mention.tsx
  src/view/components/layout/sidebar/components/top/Message.tsx
  src/view/components/layout/sidebar/top/TopSidebar.tsx
  src/view/layout/LayoutWithSidebar.tsx
  src/view/layout/sidebar/channel/DirectChannelSidebar.tsx
  src/view/layout/sidebar/components/channel/DirectMessages.tsx
  src/view/layout/sidebar/components/channel/SidebarLayout.tsx
  src/view/layout/sidebar/components/skeletons/SkeletonDMList.tsx
  src/view/layout/sidebar/components/skeletons/SkeletonTeamSidebar.tsx
  src/view/layout/sidebar/components/team/AddTeamModal.tsx
  src/view/layout/sidebar/components/team/ChatServer.tsx
  src/view/layout/sidebar/team/TeamSidebar.tsx
  src/view/pages/Friends/FriendsPage.tsx
  src/view/pages/Friends/components/AddFriend.tsx
  src/view/pages/Friends/components/DMUserCard.tsx
  src/view/pages/Friends/components/FriendCard.tsx
  src/view/pages/Friends/components/FriendList.tsx
  src/view/pages/Friends/components/MoreMenu.tsx
  src/view/pages/Friends/components/Navigation.tsx
  src/view/pages/Friends/components/SearchFriends.tsx
  src/view/pages/Friends/components/Skeletons/SkeletonFriendList.tsx
  src/view/pages/Friends/components/UserCard.tsx
  src/view/pages/auth/signup/components/SignupPanel.tsx
  tailwind.config.js
Labels: API, feature

#67 [feat/api/chat/flow 35] 채팅 관련 기능 추가
  src/service/feature/channel/hook/query/useChannelQuery.ts
  src/service/feature/channel/types/channel.ts
  src/service/feature/chat/api/chatAPI.ts
  src/service/feature/chat/hook/useChat.ts
  src/service/feature/chat/hook/useMessageHistory.ts
  src/service/feature/chat/schema/messageSchema.ts
  src/service/feature/chat/type/message.ts
  src/view/layout/sidebar/components/channel/ChannelCategory.tsx
  src/view/layout/sidebar/components/channel/ChannelItem.tsx
  src/view/layout/sidebar/components/channel/InviteFriendModal.tsx
  src/view/layout/sidebar/components/channel/ServerChannelList.tsx
  src/view/layout/sidebar/components/channel/SidebarLayout.tsx
  src/view/pages/chat/ChatPage.tsx
  src/view/pages/chat/components/ChatView.tsx
  src/view/pages/chat/components/layout/ChatView.tsx
  src/view/pages/chat/components/message/ChatMessageItem.tsx
Labels: API
